# Task - Objective (Level-1)

- Expertise in Python programming and Data Manipulation

- Extract valuable insights from large datasets and drive informed decision-making.

- Data cleaning and preprocessing data, performing statistical analysis, or creating data
visualizations,

- Proficiency in Python will play a crucial role in delivering meaningful results.

# 1. Load Python Modules

In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
from tabulate import tabulate

ImportError: DLL load failed while importing _cext: The specified module could not be found.

# 2. Read the Dataset from CSV file - Using Pandas

In [ ]:
restaurant_df=pd.read_csv(r"C:\Users\HP\Downloads\Dataset .csv")
restaurant_df

# 3. Basic Inspection on given dataset

In [ ]:
def basic_inspection_dataset(table):
    """Generates a basic inspection dataset from the given table."""
    print("top 5 rows - using head")
    print(table.head())
    print()
    print("bottom 5 rows using tail")
    print(table.tail())
    print()
    print("numbers of samples and columns")
    print(table.shape)
    print()
    print("numbers of samples ")
    print(len(table))
    print()
    print("numbers of entries in the data frame")
    print(table.size)
    print()
    print("Columns Names")
    print(table.columns)
    print()
    print("Columns dtypes")
    print(table.dtypes)
    print()
    print("Dataframe info")
    print(table.info())
    print()
    print()
    print("check the missing value in each column")
    print(table.isnull().sum())
    print()
    print("check the missing value in each column")
    print(table.isna().sum())
basic_inspection_dataset(restaurant_df)

# 4. Handling Missing Values

In [ ]:
#For a categorical variable, determine the most frequent value, known as the mode.
cuisine_mode = restaurant_df['Cuisines'].mode()[0]
print(cuisine_mode)
# fill the missing value with mode
restaurant_df['Cuisines'].fillna(cuisine_mode,inplace=True)
# check for missing values - for confirmation
restaurant_df.isnull().sum()

# Level 1, Task 1: Top Cuisines

# 1.1.1 Determine the top three most common cuisines in Dataset.

In [ ]:
def frequency_table_variable(cat_name,count):
    """Generate a frequency table for the categorical variable
    'cat_name' with top 'count' occurrences."""
    value_counts = restaurant_df[cat_name].value_counts().reset_index().head(count)
    # Give names to the columns
    value_counts.columns = ['Cuisines', 'Frequency']
    # Print the result as a table
    print(tabulate(value_counts, headers='keys', tablefmt='pretty'))
    print()
    print(value_counts["Cuisines"])
print("Top Three most common cuisines in Dataset:")
frequency_table_variable("Cuisines",3)

In [ ]:
def calculate_relative_frequency(city,count):
    """Calculates the relative frequency of a certain 'city' based on
    the top 'count' of occurrences."""
    value_counts = restaurant_df[city].value_counts().reset_index().head(count)
    # Rename the columns
    value_counts.columns = ['Cuisines', 'Count']
    value_counts['Percentage'] = round((value_counts['Count'] /
    len(restaurant_df))*100,2)
    # Print the result as a table
    print(tabulate(value_counts, headers='keys', tablefmt='pretty'))
    plt.figure(figsize=(5,5))
    values = value_counts.Cuisines
    labels = value_counts.Count
    plt.bar(values,labels)
    plt.title('Top three Cuisines')
    plt.xlabel('Cuisines')
    plt.ylabel("Count - Frequency")
    plt.show()
    plt.title('Percentage of restaurantrants that serve each of the top cuisines.')
    plt.pie(value_counts['Percentage'],labels=value_counts['Cuisines'],autopct='%0.2f%%',startangle=90)
    plt.show()
calculate_relative_frequency("Cuisines",3)

# Level 1, Task 2 : City Analysis

# 1.2.1 Identify the city with the highest number of restaurants in the
dataset

In [ ]:
print("City with the highest number of restaurants in the dataset.")
frequency_table_variable("City",1)

# 1.2.2 Calculate the average rating for restaurants in each city.

In [ ]:
# Define the function
def calculate_avg_rating_restaurant_by_city(city_column, rating_column):
    """Calculates the average rating of restaurants in each city."""
    # Group by the city column and calculate the mean rating
    avg_ratings_by_city = restaurant_df.groupby(city_column)[rating_column].mean().reset_index()
    
    # Display the average ratings
    print(avg_ratings_by_city)

# Call the function with column names as strings
print("Calculate the average rating for restaurants in each city")
calculate_avg_rating_restaurant_by_city("City", "Aggregate rating")

# 1.2.3 Determine the city with the highest average rating

In [ ]:
# Define the function
def calculate_highest_avg_rating(city_column, rating_column):
    """Calculates the highest average rating among restaurants in each city."""
    # Group by the city column and calculate the mean rating
    avg_ratings = restaurant_df.groupby(city_column)[rating_column].mean().reset_index()
    
    # Sort by the average rating in descending order to find the highest
    avg_ratings = avg_ratings.sort_values(by=rating_column, ascending=False)
    
    # Display the city with the highest average rating
    print("City with the highest average rating")
    print(avg_ratings.head(1))

# Call the function with column names as strings
calculate_highest_avg_rating("City", "Aggregate rating")

# Level 1, Task 3 : Price Range Distribution
# 1.3.1 Create a histogram or bar chart to visualize the distribution
# of price ranges among the restaurants

In [ ]:
def draw_bar_plot(price):
    """Draws a bar plot based on the 'price' data."""
    price_counts = restaurant_df[price].value_counts()
    plt.bar(price_counts.index, price_counts.values, color=['red',
    'blue', 'orange','yellow'])
    plt.xlabel('Price Range')
    plt.ylabel('Number of Restaurants')
    plt.title('Distribution of Price Ranges Among Restaurants')
    plt.show()
draw_bar_plot('Price range')

# 1.3.2 Calculate the percentage of restaurants in each price range category.

In [ ]:
def cal_per_restaurant_price_range(price):
    """Calculates the price range percentage restaurant based on the
    given 'price' data."""
    value_counts = restaurant_df[price].value_counts().reset_index()
    # Rename the columns
    value_counts.columns = ['Price-Range', 'Count']
    total_count = value_counts['Count'].sum()
    value_counts['Percentage'] = round((value_counts['Count'] /
    total_count)*100,2)
    # Print the result as a table
    print(tabulate(value_counts, headers='keys', tablefmt='pretty'))

cal_per_restaurant_price_range("Price range")

# Level 1 , Task 4: Online Delivery

# 1.4.1 Determine the percentage of restaurants that offer online delivery

In [ ]:
def per_online_delivery_restaurants(online_delivery):
    """Calculates the percentage of restaurants offering online
    delivery."""
    total_restaurant_count =restaurant_df.shape[0]
    online_restaurnat_count = restaurant_df[restaurant_df[online_delivery]=='Yes']
    online_restaurant_count= online_restaurnat_count.shape[0]
    # percentage of online order taken by the restaurants
    percentage=round((online_restaurant_count/total_restaurant_count)*100,2)
    print(percentage)

print("percentage of online order taken by the restaurants")
per_online_delivery_restaurants('Has Online delivery')

# 1.4.2 Compare the average ratings of restaurants with and without online delivery.

In [ ]:
def avg_ratings_by_restaurant_with_without_online_delivery(online_delivery,rating):
# average rating of restaurant with and without online delivery
    print(restaurant_df.groupby(online_delivery)
    [rating].mean().round(2).reset_index())

print("average rating of restaurant with and without online delivery")
avg_ratings_by_restaurant_with_without_online_delivery('Has Online delivery','Aggregate rating')

# Task - Objective(Level 2)
- Expertise in Python programming and Data Manipulation
- Extract valuable insights from large datasets and drive informed decision-making.
- Data cleaning and preprocessing data, performing statistical analysis, or creating data visualizations,
- Proficiency in Python will play a crucial role in delivering meaningful results

# 1.Load Python Modules

In [ ]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 
from tabulate import tabulate
import itertools
import plotly.express as px
from sklearn.cluster import KMeans

# 2. Read the Dataset CSV - using Pandas

In [ ]:
restaurant_df=pd.read_csv(r"C:\Users\HP\Downloads\Dataset .csv")
restaurant_df

# 3. Basic Inspection - dataset

In [ ]:
def basic_inspection_dataset(table):

    print("top 5 rows - using head")
    print(table.head())
    print()
    print("bottom 5 rows using tail")
    print(table.tail())
    print()
    print("numbers of samples and columns")
    print(table.shape)
    print()
    print("numbers of samples ")
    print(len(table))
    print()
    print("numbers of entries in the data frame")
    print(table.size)
    print()
    print("Columns Names")
    print(table.columns)
    print()
    print("Columns dtypes")
    print(table.dtypes)
    print()
    print("Dataframe info")
    print(table.info())
    print()
    print()
    print("check the missing value in each column")
    print(table.isnull().sum())
    print()
    print("check the missing value in each column")
    print(table.isna().sum())
basic_inspection_dataset(restaurant_df)

# 4. Handling Missing Values

In [ ]:
#For a categorical variable, determine the most frequent value, known as the mode.
cuisine_mode = restaurant_df['Cuisines'].mode()[0]
print(cuisine_mode)
# fill the missing value with mode
restaurant_df['Cuisines'].fillna(cuisine_mode,inplace=True)
# check for missing values - for confirmation
restaurant_df.isnull().sum()

# Level 2, Task 1: Restaurant Ratings
## 2.1.1 Analyze the distribution of aggregate ratings and determine the most common rating range

In [ ]:
def distribution_rating(rating,bins):
# Create a figure and axes object
    fig, axes = plt.subplots(1, 2, figsize=(14, 6))
    # Plot histogram without KDE on the left
    axes[0].hist(restaurant_df[rating], bins=bins, color='skyblue', edgecolor='black')
    axes[0].set_xlabel('Ratings Value')
    axes[0].set_ylabel('Frequency')
    axes[0].set_title('Restaurant Ratings Histogram')
    # Plot histogram with KDE on the right
    sns.histplot(data=restaurant_df, x=rating, bins=bins, kde=True, color='orange', edgecolor='black',
    ax=axes[1])
    axes[1].set_xlabel('Ratings Value')
    axes[1].set_ylabel('Density')
    axes[1].set_title('Histogram with KDE')
    # Adjust layout
    plt.tight_layout()
    plt.show()

In [ ]:
print("Rating Max Count -", restaurant_df["Aggregate rating"].max())
print("Rating Min Count - ", restaurant_df["Aggregate rating"].min())

In [ ]:
bins = [x for x in range(0,6,1)]
print(bins)

In [ ]:
distribution_rating("Aggregate rating",bins)

# 2.1.2 Calculate the average number of votes received by restaurants.

In [ ]:
# Ensure all values in the 'Cuisines' column are strings and handle NaNs
restaurant_df['Cuisines'] = restaurant_df['Cuisines'].fillna('').astype(str)

# Split the cuisines column into lists of cuisines
restaurant_df['Cuisines'] = restaurant_df['Cuisines'].str.split(',')

# Generate all pairs of cuisines for each row using `apply`
combinations_series = restaurant_df['Cuisines'].apply(lambda x: list(itertools.combinations(x, 2)))

# Explode the list of pairs into individual rows and count
combinations_series = combinations_series.explode()
combination_counts = combinations_series.value_counts()

# Display the top 5 most common cuisine pairs
print(combination_counts.head())

# 2.2.2 Determine if certain cuisine combinations tend to have higher ratings.

In [ ]:
# Assuming 'idf' is your DataFrame
restaurant_df['Cuisines'] = restaurant_df['Cuisines'].apply(lambda x: ', '.join(x) if isinstance(x, list)
else x)
# Display the updated DataFrame
print(restaurant_df['Cuisines'])
avg_rating=restaurant_df.groupby('Cuisines')['Aggregate rating'].mean()
# Average rating in descending order
avg_rating=avg_rating.sort_values(ascending=False)
print('The Cuisines Combination that have higher ratings:')
avg_rating.head()

# Level 2, Task 3: Geographic Analysis
## 2.3.1 Plot the locations of restaurants on a map using longitude and latitude coordinates

In [ ]:
print(restaurant_df["Longitude"].isnull().sum())
print(restaurant_df["Latitude"].isnull().sum())

In [ ]:
# plot the restaurents on the map
fig = px.scatter_mapbox(restaurant_df,lat='Latitude', lon='Longitude',
hover_name='Restaurant Name', color_discrete_sequence=['red'],
zoom=2,
)
fig.update_layout(
mapbox_style="open-street-map",
)

## 2.3.2 Identify any patterns or clusters of restaurants in specific areas.

In [ ]:
X=restaurant_df[['Latitude','Longitude']]
num_cluster=5
# k mean clustering
kmeans=KMeans(n_clusters=num_cluster,n_init=10,random_state=42)
restaurant_df['cluster']=kmeans.fit_predict(X)

In [ ]:
# plot on the map
fig=px.scatter_mapbox( restaurant_df, lat='Latitude', lon='Longitude',
hover_name='Restaurant Name', hover_data=['Cuisines','Country Code'],
color='cluster', color_continuous_scale='reds',
zoom=2,
)
fig.update_layout(
mapbox_style="open-street-map",
)

In [ ]:
# Plotting the clusters
plt.scatter(restaurant_df['Longitude'], restaurant_df['Latitude'], c=restaurant_df['cluster'],
cmap='rainbow')
plt.title('Restaurant Clusters')
plt.xlabel('Longitude')
plt.ylabel('Latitude')
plt.show()

# Level 2, Task 4: Restaurant Chains
## 2.4.1 Identify if there are any restaurant chains present in the dataset

In [ ]:
restaurant_df.head(2)

In [ ]:
res_count=restaurant_df['Restaurant Name'].value_counts()
potential_chains=res_count[res_count > 10].index
print("Potential restaurant chains:")
for chain in potential_chains:
    print(f"--{chain}")

## 2.4.2 Analyze the ratings and popularity of different restaurant chains

In [ ]:
restaurant_chain_stats=restaurant_df.groupby('Restaurant Name').agg({
'Aggregate rating':'mean',
'Votes':'sum',
}).reset_index()
restaurant_chain_stats.columns=['Restaurant Name','Average rating','Total Votes']
restaurant_chain_stats=restaurant_chain_stats.sort_values(by='Total Votes',ascending=False)
print("Restaurant Chain Rating and Popularity Analysis (Sorted by Total Votes):")
print(restaurant_chain_stats.head(20))

# Level 3 - Objective
- Expertise in Python programming and Data Manipulation
- Extract valuable insights from large datasets and drive informed decision-making.
- Data cleaning and preprocessing data, performing statistical analysis, or creating data visualizations,
- Proficiency in Python will play a crucial role in delivering meaningful results.

## 1. Load Python Modules

In [ ]:
# import python modules
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# nltk modules
from nltk.sentiment import SentimentIntensityAnalyzer
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from collections import Counter

In [ ]:
import nltk
nltk.download('vader_lexicon')
nltk.download('stopwords')
nltk.download('punkt')

## 2. Read the Dataset from CSV file - Using Pandas

In [ ]:
restaurant_df=pd.read_csv(r"C:\Users\HP\Downloads\Dataset .csv")
restaurant_df

## 3. Basic Inspection on given dataset

In [ ]:
def basic_inspection_dataset(table):
    print("top 5 rows - using head")
    print(table.head())
    print()
    print("bottom 5 rows using tail")
    print(table.tail())
    print()
    print("numbers of samples and columns")
    print(table.shape)
    print()
    print("numbers of samples ")
    print(len(table))
    print()
    print("numbers of entries in the data frame")
    print(table.size)
    print()
    print("Columns Names")
    print(table.columns)
    print()
    print("Columns dtypes")
    print(table.dtypes)
    print()
    print("Dataframe info")
    print(table.info())
    print()
    print()
    print("check the missing value in each column")
    print(table.isnull().sum())
    print()
    print("check the missing value in each column")
    print(table.isna().sum())
basic_inspection_dataset(restaurant_df)

## 4. Handling Missing Values

In [ ]:
#For a categorical variable, determine the most frequent value, known as the mode.
cuisine_mode = restaurant_df['Cuisines'].mode()[0]
print(cuisine_mode)
# fill the missing value with mode
restaurant_df['Cuisines'].fillna(cuisine_mode,inplace=True)
# check for missing values - for confirmation
restaurant_df.isnull().sum()

# Level 3, Task 1:Task: Restaurant Reviews
## 3.1.1 Analyze the text reviews to identify the most common positive and negative keywords

In [ ]:
rating_test=restaurant_df['Rating text'].value_counts().reset_index()
rating_test.columns=["Rating-Type","Count"]
rating_test

In [ ]:
# Example criteria for positive and negative reviews
positive_reviews = ["Excellent", "Very Good", "Good"]
negative_reviews = ["Poor", "Terrible"]

# Add a new column 'Review_Type' to classify reviews as 'Positive' or 'Negative'
restaurant_df['Review_Type'] = restaurant_df['Rating text'].apply(
    lambda x: 'Positive' if x in positive_reviews else 'Negative' if x in negative_reviews else 'Rated'
)

# Count the number of positive and negative reviews
review_counts = restaurant_df['Review_Type'].value_counts().reset_index()
review_counts.columns = ["Review_Type", "Count"]

print(review_counts)

## 3.1.2 Calculate the average length of reviews and explore if there is a relationship between review length and rating.

In [ ]:
restaurant_df['Review Length']=restaurant_df['Rating text'].apply(lambda x: len(str(x)))
avg_rev_len=restaurant_df.groupby('Aggregate rating')['Review Length'].mean()
avg_rev_df = pd.DataFrame(avg_rev_len).reset_index()

plt.figure(figsize=(10,10))
avg_rev_df.plot(kind='bar',color='green')
#plt.bar(x=avg_rev_df["Aggregate rating"],height=avg_rev_df['ReviewLength'])
plt.title('Average Review Length For Each Rating Category')
plt.xlabel('Aggregate Rating')
plt.ylabel('Average review length')
plt.show()

# Level 3 , Task 2 : Votes Analysis
## 3.2.1 Identify the restaurants with the highest and lowest number of votes.

In [ ]:
cols = ['Votes','Restaurant Name']
df_votes_restaurants=restaurant_df[cols]
print()
print('Restaurant with highest Votes:')
print(df_votes_restaurants.sort_values(by="Votes").tail(1))
print()
print('Restaurant with lowest Votes:')
print(df_votes_restaurants.sort_values(by="Votes").head(90))

## 3.2.2 Analyze if there is a correlation between the number of votes and the rating of a restaurant.

In [ ]:
cols = ['Votes','Aggregate rating']
df_corr_analysis = restaurant_df[cols]
df_corr_analysis

In [ ]:
corr=df_corr_analysis.corr()
corr

In [ ]:
plt.figure(figsize=(8,8))
sns.scatterplot(x='Votes',y='Aggregate rating',data=df_corr_analysis)
plt.title('Relation between Number of Votes and Restaurant Rating')
plt.xlabel("Number of Votes")
plt.ylabel('Aggregate Rating')
plt.show()

# Level 3 , Task 3 : Price Range vs. Online Delivery and Table Booking
## 3.3.1 Analyze if there is a relationship between the price range and the availability of online delivery and table booking

In [ ]:
restaurant_df.head()

In [ ]:
cols = ['Price range','Has Online delivery','Has Table booking']
df_analysis=restaurant_df[cols].copy()
df_analysis['Has Online delivery']=df_analysis['Has Online delivery'].map({'Yes':True,'No':False})
df_analysis['Has Table booking']=df_analysis['Has Table booking'].map({'Yes':True,'No':False})
df_analysis

In [ ]:
summary_table=pd.pivot_table(df_analysis,index='Price range',values=
['Has Online delivery','Has Table booking'],aggfunc=sum)
print('Summary Table:')
summary_table

In [ ]:
plt.figure(figsize=(10,8))
summary_table.plot(kind='bar',stacked=True,colormap='viridis')
plt.title('Relationship between price Range and Availibility')
plt.xlabel('Price range')
plt.ylabel('Count')
plt.legend(title='Feature',loc='upper right')
plt.show()

## 3.3.2 Determine if higher-priced restaurants are more likely to offer these services

In [ ]:
plt.figure(figsize=(10,6))
plt.subplot(1,2,1)
sns.countplot(x='Price range' , hue='Has Online delivery' ,
data=df_analysis)
plt.title('Online Delivery Avalibility by Price Range')
plt.subplot(1,2,2)
sns.countplot(x='Price range', hue='Has Table booking',
data=df_analysis)
plt.title('Table Booking Availibility by Price range')
plt.tight_layout()
plt.show()